*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgba(138, 202, 202, 0.729);
    height: 100%;
    font-size: 62.5%;
}
body{
    /* background-color: rgba(232, 232, 232, 0.974); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ol,ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
}
img{
    height: 20;
    width: 20px;
}
table{
    background-color: aliceblue;
}